<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content=""/>
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#0e90d2">

    <title></title>

    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.css" rel="stylesheet">-->
    <!--<link href="/css/darkstrap.css" rel="stylesheet">-->
    <link href="/css/index.css" rel="stylesheet">

    <script src="/js/genFuncLib.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vconsole@3.3.4/dist/vconsole.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue-router@3.1.3/dist/vue-router.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3.1.3/dist/vue-router.js"></script>

</head>
<body>
<div id="header" class="nav nav-tabs navbar-fixed-top hidden-xs">
    <div class="container">
        <div class="navbar-brand">{{title}}</div>
        <ul class="nav navbar-nav ">
            <li v-for="(href,name) in list" :class="{active:name==current}"><a :href="href">{{name}}</a></li>
        </ul>
        <div class="navbar-text navbar-right">{{time}}</div>
    </div>
</div>
<div id="body" :class="['container-fluid']">
    <div id="" class="row">
        <div class="col-lg-1">
            <ul id="leftNavi" class="nav nav-pills nav-stacked ">
                <li v-for="r in routes" :class="{active:_route.path==r.path}">
                    <router-link :to="r.path">{{r.title}}</router-link>
                </li>
            </ul>
        </div>
        <!--<div id="content" class=" col-lg-11">
            <form id="contentForm">
                <label>Name:<input type="text" name="name" value=""></label>
            </form>
            <div id="contentList"></div>
        </div>-->
        <router-view id="content" class=" col-lg-11"></router-view>
    </div>
</div>
<div id="footer" class="nav navbar-fixed-bottom">
    <div class="">
        <ul id="msg" class="nav navbar-nav ">
            <li v-for="(item,k) in list" :class="[
            'glyphicon'
            ,{'btn-success' :item.type=='success'}  ,{'glyphicon-ok'           :item.type=='success'}
            ,{'btn-primary' :item.type=='info'}     ,{'glyphicon-info-sign'    :item.type=='info'}
            ,{'btn-danger'  :item.type=='error'}    ,{'glyphicon-remove-sign'  :item.type=='error'}
            ,{'btn-warning' :item.type=='notice'}   ,{'glyphicon-alert'        :item.type=='notice'}
            ]" v-on:click.self.stop="showDetail(k)">
                <div :class="[
                'hinter'
                ,{'btn-success' :item.type=='success'}
                ,{'btn-primary' :item.type=='info'}
                ,{'btn-danger'  :item.type=='error'}
                ,{'btn-warning' :item.type=='notice'}
                ]">{{item.msg}}
                </div>
            </li>
        </ul>
        <ul id="paginator" class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:void(0)" v-on:click="prev">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li v-for="offset in pageOffsets" :class="{active:page==offset}" v-on:click="query(offset)"><a href="javascript:void(0)">{{offset}}</a></li>
            <!--<li c0.lass="disabled"><a href="javascript:void(0)">3</a></li>-->
            <li>
                <a href="javascript:void(0)" v-on:click="next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="loader" v-if="isShow" :style="{opacity:isTransparent?0:1}">
    <svg class="square" xmlns="http://www.w3.org/2000/svg" version="1.1" :width="width+'px'" :height="width+'px'">
        <polygon v-for="offset in offsets" :points="offset"></polygon>
        <!--<polygon v-for="offset in offsets" points="0,224.5139883 309.0169944,449.0279766 1000,224.5139883 309.0169944,0"></polygon>-->
    </svg>
</div>
<div id="popup" v-if="isShow" :style="{opacity:isTransparent?0:1}" v-on:click="hide">
    <div v-on:click.stop>
        <table>
            <tr>
                <th colspan="2">editor</th>
            </tr>
            <tr v-for="(val,key) in data">
                <th>{{key}}</th>
                <td>
                    <template v-if="key.indexOf('_')==0">
                        {{data[key].data}}
                    </template>
                    <template v-else-if="!data[key].editable">
                        {{data[key].data}}
                    </template>
                    <template v-else-if="data[key].type=='text'">
                        <input type="text" v-model="data[key].data">
                    </template>
                    <template v-else-if="data[key].type=='datetime'">
                        <input type="datetime-local" v-model="data[key].data">
                    </template>
                    <template v-else-if="data[key].type=='textarea'">
                        <textarea v-model="data[key].data"></textarea>
                    </template>
                    <template v-else-if="data[key].type=='checkbox'">
                        <template v-for="option in data[key].options">
                            <input :id="'checkbox_'+key+'_'+option" type="checkbox" :value="option" v-model="data[key].data">
                            <label :for="'checkbox_'+key+'_'+option">{{option}}</label>
                        </template>
                    </template>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <button type="button" class="btn btn-warning" v-on:click="reset">close</button>
                    <button type="button" class="btn btn-success" v-on:click="submit">submit</button>
                </th>
            </tr>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

</body>
<script>
    /**
     * @var list
     * @var current
     * @var title
     * @var time
     * @var timer (internal)
     * */
    let header = new Vue(
        {
            el     : '#header',
            data   : {
                list   : {
                    'Tieba'     : 'javascript:void(0)',
                    'Nas'       : 'javascript:void(0)',
                    'Router'    : 'javascript:void(0)',
                    'Hypervisor': 'javascript:void(0)',
                    // 'Router': 'javascript:void(0)',
                    // 'Github': 'javascript:void(0)',
                },
                current: 'Tieba',
                title  : 'Hentai',
                time   : '',
                timer  : 0,
            },
            created: function () {
                this.timer = setInterval(() => {
                    let date = new Date();
                    let arr  = {
                        y: date.getFullYear(),
                        m: date.getMonth() + 1,
                        d: date.getDate(),
                        h: date.getHours(),
                        i: date.getMinutes(),
                        s: date.getSeconds(),
                    };
                    for (let k in arr) {
                        if (arr[k] < 10) arr[k] = '0' + arr[k];
                        arr[k] = arr[k].toString();
                    }
                    this.time = `${arr.y}-${arr.m}-${arr.d} ${arr.h}:${arr.i}:${arr.s}`
                }, 500);
            },
            methods: {}
        });
    /**
     * @var list        (internal)
     * @var detailTimer (internal)
     * @method push         (data, type) type in ['success','info','error','notice']
     * @method showDetail   (index)
     * @method hideAll      ()
     * */
    let msg    = new Vue(
        {
            el     : '#msg',
            data   : function () {
                return {
                    list       : [
                        {
                            type: 'info',
                            msg : 'success',
                        }
                    ],
                    detailTimer: 0,
                }
            },
            created: function () {
            },
            methods: {
                push      : function (data, type) {
                    switch (type) {
                        case 'success':
                        case 'info':
                        case 'error':
                        case 'notice':
                            break;
                        default:
                            type = 'info';
                            break;
                    }
                    if (this.list.length >= 20) {
                        this.list.splice(0, this.list.length - 20);
                    }
                    this.list.push(
                        {
                            type: type,
                            msg : data,
                        });
                },
                showDetail: function (index) {
                    // console.info('show');
                    let target = $('#msg li').eq(index).children('div');
                    target.fadeIn(200, () => {
                        setTimeout(() => {
                            target.fadeOut(200);
                        }, 15000)
                    });
                },
                hideAll   : function () {
                    // console.info('hide');
                    $('#msg li div').stop(true, true).fadeOut(200);
                }
            }
        });
    /**
     * @var page
     * @method reset                (page) 重置分页
     * @method switcher             (page) (internal)
     * @method switcherCallback     (page) 用于替换
     * @method prev
     * @method next
     * */
    let pager  = new Vue(
        {
            el     : '#paginator',
            data   : function () {
                return {
                    page       : 1,
                    pageOffsets: [
                        1, 2, 3, 4, 5,
                    ],
                };
            },
            created: function () {
            },
            methods: {
                reset        : function (page) {
                    this.page = page ? Number.parseInt(page) : 1;
                    this.query(this.page, true);
                },
                query        : function (page, forceRefresh) {
                    this.page = Number.parseInt(page ? page : this.page);
                    if (this.page < 1) this.page = 1;
                    console.info(`pager query ${this.page}`);
                    //生成页数
                    let start        = Math.max(this.page - 2, 1);
                    let end          = start + 4;
                    let targetOffset = [];
                    for (let i1 = start; i1 <= end; i1++) {
                        targetOffset.push(i1);
                    }
                    this.pageOffsets = targetOffset;
                    //刷新时候在外部fetch
                    this.queryCallback(forceRefresh);
                },
                queryCallback: function (forceRefresh) {
                    console.info('queryCallback');
                },
                prev         : function () {
                    this.page -= 1;
                    this.query();
                },
                next         : function () {
                    this.page += 1;
                    this.query();
                },
            }
        });
    /**
     * @var isShow          (internal)
     * @var isTransparent   (internal)
     * @var angle           (internal)
     * @var width           (internal)
     * @var rRatio          (internal)
     * @var inScale         (internal)
     * @var offsets         (internal)
     * @method show         () 显示遮罩
     * @method hide         () 隐藏遮罩
     * @method createStar   (internal)
     * */
    let loader = new Vue(
        {
            el     : '#loader',
            data   : function () {
                return {
                    isShow       : false,
                    isTransparent: true,
                    angle        : 4,
                    width        : 300,
                    rRatio       : 0.5,//外半径
                    inScale      : 0.6,//内半径（参考）
                    offsets      : [],
                }
            },
            created: function () {
                this.createStar(this.width, this.angle, this.rRatio, this.inScale);
            },
            methods: {
                show      : function () {
                    this.isShow = true;
                    //做个延迟不然特效不会出来……
                    setTimeout(() => {
                        this.isTransparent = false;
                    }, 10);
                    popup.hide();
                },
                hide      : function () {
                    this.isTransparent = true;
                    setTimeout(() => {
                        this.isShow = false;
                    }, 500);
                },
                createStar: function (width, angle, rRatio, inScale) {
                    this.offsets = [];
                    let deg      = 360 / angle;
                    let rad      = deg / 180 * Math.PI;
                    let r        = width * inScale;
                    let vX       = r * Math.tan(rad / 4)
                        / (Math.tan(rad / 4) + Math.tan(rad / 2));
                    let vY       = r * Math.tan(rad / 4) * Math.tan(rad / 2)
                        / (Math.tan(rad / 4) + Math.tan(rad / 2));
                    // console.info(deg);
                    // console.info(vX);
                    // console.info(vY);
                    let mid = width / 2;
                    for (let ang = 0; ang < angle; ang++) {
                        let ol  = {
                            x0: mid,
                            y0: mid,
                            x1: mid + vX,
                            y1: mid - vY,
                            x2: mid + width * rRatio,
                            y2: mid,
                            x3: mid + vX,
                            y3: mid + vY,
                        };
                        let str = `${ol.x0},${ol.y0} ${ol.x1},${ol.y1} ${ol.x2},${ol.y2} ${ol.x3},${ol.y3}`;
                        this.offsets.push(str);
                    }
                },
            }
        });
    /**
     * @var isShow          (internal)
     * @var isTransparent   (internal)
     * @var data            (internal)
     * @var callback        (internal)
     * @method show     (data, template, success, cancel, error)
     * @method hide     ()
     * @method reset    ()
     * @method submit   ()
     *
     * show -> data {name:value}
     * show -> template {name:{type:('text'|'datetime'),default:'',editable:(true|false)}}
     * */
    let popup  = new Vue(
        {
            el     : '#popup',
            data   : function () {
                return {
                    isShow       : false,
                    isTransparent: false,
                    data         : {},
                    callback     : {
                        success: function () {
                        },
                        cancel : function () {
                        },
                        error  : function () {
                        },
                    },
                }
            },
            created: function () {
            },
            methods: {
                show  : function (data, template, success, cancel, error) {
                    //这里统一复制会产生引用，所以逐一写，实现复制
                    for (let k in template) {
                        //如果key带有下划线，就作为特殊参数处理（checkbox或者radio的选项）
                        if (k.indexOf('_') === 0) continue;
                        // {type: 'text', default: '0', editable: true,};
                        let curData  = data[k] ? data[k] : template[k].default;
                        this.data[k] = {
                            data    : curData,
                            type    : template[k].type,
                            default : template[k].default,
                            editable: template[k].editable,
                            options : template['_' + k] ? template['_' + k] : [],
                            before  : curData,
                        };
                    }
                    if (success)
                        this.callback.success = success;
                    if (cancel)
                        this.callback.cancel = cancel;
                    if (error)
                        this.callback.error = error;
                    //***************************************
                    this.isShow = true;
                    //做个延迟不然特效不会出来……
                    setTimeout(() => {
                        this.isTransparent = false;
                    }, 10);
                    loader.hide();
                },
                hide  : function () {
                    //清空数据
                    this.data          = {};
                    this.callback      = {
                        success: function () {
                        },
                        cancel : function () {
                        },
                        error  : function () {
                        },
                    };
                    this.isTransparent = true;
                    setTimeout(() => {
                        this.isShow = false;
                    }, 500);
                },
                reset : function () {
                    this.callback.cancel(this.data);
                    this.hide();
                },
                submit: function () {
                    let data = {};
                    for (let k in this.data) {
                        data[k] = this.data[k].data;
                    }
                    this.callback.success(data);
                    this.hide();
                },
            }
        });
    $(document).click(() => {
        msg.hideAll();
    });

    // --------------------------------------------------
    // 功能部分

    let empty       = {};
    let op_post     = {
        template: `<div class="op_post">
<div id="menu">
    <form id="contentForm">
        <label>标题：<input type="text" v-model="query.title" ></label>
        <label>用户名 / 昵称：<input type="text" v-model="query.username" ></label>
        <label>cid：<input type="text" v-model="query.cid" ></label>
        <label>tid：<input type="text" v-model="query.tid" ></label>
        <label><button type="button" v-on:click="switcher" class="btn btn-primary">submit</button></label>
    </form>
</div>
<table id="contentBody">
<tr><th>ID / TID</th>
<th>PID / CID</th>
<th>楼 / 层</th>
<th>发帖时间 / 扫描时间</th>
<th>用户名 / 昵称</th>
<th>标题 / 内容</th>
<th>操作</th>
</tr>
<tr v-for="(item,index) in list">
    <td>
        <div>{{item.id}}</div>
        <div>{{item.tid}}</div>
    </td>
    <td>
        <div>{{item.pid}}</div>
        <div>{{item.cid}}</div>
    </td>
    <td>
        <div>{{item.index_p}} / {{item.index_c}}</div>
    </td>
    <td>
        <div>{{item.time_pub}}</div>
        <div>{{item.time_scan}}</div>
    </td>
    <td>
        <template v-if="item.username">
            <div>{{item.nickname}}</div>
            <div>{{item.username}}</div>
        </template>
        <template v-else>
            <div>{{item.nickname}}</div>
            <div>ID : {{item.userid}}</div>
        </template>
    </td>
    <td>
        <div v-html="item.title"></div>
        <div v-html="item.content"></div>
    </td>
    <td>
        <a class="btn btn-primary" v-on:click="operate(index,'delete')">删</a>
        <a class="btn btn-primary" v-on:click="operate(index,'forbid')">封</a>
        <a class="btn btn-primary" v-on:click="operate(index,'boom')">炸</a>
        <a class="btn btn-primary" v-on:click="operate(index,'black')">拉黑</a>
        <!--<a class="btn btn-primary" v-on:click="edit(index,'black')">dev</a>-->
    </td>
</tr>
</table>
</div>`,
        data    : function () {
            return {
                refresh      : (new Date()) * 1,
                query        : {
                    title   : '',
                    username: '',
                    cid     : '',
                    tid     : '',
                },
                list         : [],
                popupTemplate: {
                    id       : {type: 'text', default: '', editable: true,},
                    tid      : {type: 'text', default: '', editable: true,},
                    pid      : {type: 'text', default: '', editable: true,},
                    cid      : {type: 'text', default: '', editable: true,},
                    index_p  : {type: 'text', default: '', editable: true,},
                    index_c  : {type: 'text', default: '', editable: true,},
                    time_pub : {type: 'text', default: '', editable: true,},
                    time_scan: {type: 'text', default: '', editable: true,},
                    nickname : {type: 'text', default: '', editable: true,},
                    username : {type: 'text', default: '', editable: true,},
                    content  : {type: 'text', default: '', editable: true,},
                },
            };
        },
        created : function () {
            console.info('created');
            for (let k in this.query) {
                if (router.currentRoute.query[k]) {
                    this.query[k] = router.currentRoute.query[k];
                }
            }
            pager.queryCallback = this.switcher;
            //保持页码不知道图什么。。。老代码，如果没有其他问题可以改掉
            // pager.reset(router.currentRoute.query.page);
            pager.reset(1);
        },
        mounted : function () {
            console.info('mounted');
        },
        watch   : {
            '$route': 'fetch'
        },
        methods : {
            reloadData: function () {
                console.info('reloaded');
                this.refresh = (new Date()) * 1;
            },
            //修改路由
            switcher  : function (forceRefresh) {
                console.info('switcher');
                let query = {};
                for (let k in this.query) {
                    query[k] = this.query[k];
                }
                query.page = pager.page;
                //这边刷新会报错，所以加一个路由的判断
                let route  = {name: 'post', query: query};
                if (!router.options.methods.isSameRoute(route)) {
                    console.info('new route:');
                    router.push(route);
                    return;
                }
                //强制刷新方法，触发route时会自动fetch，这里主要是针对无法触发的
                //比如带有参数的页面首次访问就不能正常的加载
                if (forceRefresh) {
                    this.fetch();
                }
                // console.info(route);
                // console.info(router.currentRoute);
                // this.fetch();
            },
            //获取数据
            fetch     : function () {
                console.info('fetch');
                loader.show();
                let queryData = router.currentRoute.query;
                $.post(`/spd/post_get`, queryData, (data) => {
                    loader.hide();
                    if (data.code) {
                        msg.push(`${data.code} ${data.msg}`, 'error');
                        return;
                    }
                    console.info(this);
                    this.list = data.data;
                    msg.push(`${data.code} ${data.msg}`, 'success');
                    this.reloadData();
                }, 'json');
            },
            //这个是测试
            edit      : function (targetIndex) {
                console.info(targetIndex);
                let target = this.list[targetIndex];
                popup.show(target, this.popupTemplate, (data) => {
                    let modified = false;
                    for (let k in data) {
                        if (this.list[targetIndex][k] == data[k]) continue;
                        this.list[targetIndex][k] = data[k];
                        modified                  = true;
                    }
                    if (modified) {
                        $.post(`/spd/post_modify`, {
                            type   : 'mod',
                            id     : target.id,
                            content: target.content,
                        }, (data) => {
                            loader.hide();
                            if (data.code) {
                                msg.push(`${data.code} ${data.msg}`, 'error');
                                return;
                            }
                            console.info(this);
                            msg.push(`${data.code} ${data.msg}`, 'success');
                        }, 'json');
                        this.reloadData();
                    }
                    console.info('success');
                }, () => {
                    console.info('canceled');
                }, () => {
                    console.info('error');
                });
                console.info(target);
            },
            //操作方法
            operate   : function (targetIndex, operate) {
                let target = this.list[targetIndex];
                $.post(`/spd/post_operate`, {
                    operate: operate,
                    id     : target.id,
                }, (data) => {
                    loader.hide();
                    if (data.code) {
                        msg.push(`${data.code} ${data.msg}`, 'error');
                        return;
                    }
                    console.info(this);
                    msg.push(`${data.code} ${data.msg}`, 'success');
                }, 'json');
            },
        }
    };
    let op_keyword  = {
        template: `<div class="op_keyword">
<div id="menu">
    <form id="contentForm">
        <label>值：<input type="text" v-model="query.value" ></label>
        <label>用户名 / 昵称：<input type="text" v-model="query.name" ></label>
        <label><button type="button" v-on:click="switcher" class="btn btn-primary">submit</button></label>
        <label><button type="button" v-on:click="edit(-1)" class="btn btn-primary">add</button></label>
    </form>
</div>
<table id="contentBody">
<tr><th>ID</th>
<th>吧ID</th>
<th>操作</th>
<th>类型</th>
<th>位置</th>
<th>到期时间</th>
<th>值</th>
<th>理由</th>
<th>状态</th>
<th>操作</th>
</tr>
<tr v-for="(item,index) in list">
    <td>{{item.id}}</td>
    <td>{{item.fid}}</td>
    <td><p v-for="val in item.operate">{{val}}</p></td>
    <td><p v-for="val in item.type">{{val}}</p></td>
    <td><p v-for="val in item.position">{{val}}</p></td>
    <td>{{item.time_avail}}</td>
    <td>{{item.value}}</td>
    <td>{{item.reason}}</td>
    <td>{{item.status}}</td>
    <td>
        <a class="btn btn-primary" v-on:click="edit(index,'black')">编辑</a>
    </td>
</tr>
</table>
</div>`,
        data    : function () {
            return {
                refresh      : (new Date()) * 1,
                query        : {
                    value: '',
                    name : '',
                },
                list         : [],
                popupTemplate: {
                    id        : {type: 'text', default: '', editable: false,},
                    fid       : {type: 'text', default: '', editable: true,},
                    operate   : {type: 'checkbox', default: [], editable: true,},
                    _operate  : ['trust', 'forbid', 'delete', 'boom', 'alert', 'black'],
                    type      : {type: 'checkbox', default: [], editable: true,},
                    _type     : ['match', 'space', 'contain', 'regex'],
                    position  : {type: 'checkbox', default: [], editable: true,},
                    _position : ['tid', 'uid', 'title', 'content'],
                    time_avail: {type: 'datetime', default: '2099-01-01T00:00:00', editable: true,},
                    value     : {type: 'text', default: '', editable: true,},
                    reason    : {type: 'text', default: '', editable: true,},
                    status    : {type: 'text', default: '1', editable: true,},
                },
            };
        },
        created : function () {
            console.info('created');
            // console.info(router.currentRoute.query);
            for (let k in this.query) {
                if (router.currentRoute.query[k]) {
                    this.query[k] = router.currentRoute.query[k];
                }
            }
            pager.queryCallback = this.switcher;
            //保持页码不知道图什么。。。老代码，如果没有其他问题可以改掉
            pager.reset(1);
        },
        mounted : function () {
            console.info('mounted');
            // console.info(router.currentRoute.query);
        },
        watch   : {
            '$route': 'fetch'
        },
        methods : {
            reloadData: function () {
                console.info('reloaded');
                this.refresh = (new Date()) * 1;
            },
            //修改路由
            switcher  : function (forceRefresh) {
                console.info('switcher');
                // console.info(router.currentRoute.query);
                let query = {};
                for (let k in this.query) {
                    query[k] = this.query[k];
                }
                query.page = pager.page;
                //这边刷新会报错，所以加一个路由的判断
                let route  = {name: 'keyword', query: query};
                if (!router.options.methods.isSameRoute(route)) {
                    console.info('new route:');
                    router.push(route);
                    return;
                }
                //强制刷新方法，触发route时会自动fetch，这里主要是针对无法触发的
                //比如带有参数的页面首次访问就不能正常的加载
                if (forceRefresh) {
                    this.fetch();
                }
                // console.info(route);
                // console.info(router.currentRoute);
                // this.fetch();
            },
            //获取数据
            fetch     : function () {
                console.info('fetch');
                console.info(router.currentRoute.query);
                loader.show();
                let queryData = router.currentRoute.query;
                $.post(`/spd/keyword_get`, queryData, (data) => {
                    loader.hide();
                    if (data.code) {
                        msg.push(`${data.code} ${data.msg}`, 'error');
                        return;
                    }
                    console.info(this);
                    this.list = data.data;
                    msg.push(`${data.code} ${data.msg}`, 'success');
                    this.reloadData();
                }, 'json');
            },
            //这个是测试
            edit      : function (targetIndex) {
                console.info(targetIndex);
                let target = this.list[targetIndex];
                if (!target) target = {};
                popup.show(target, this.popupTemplate, (data) => {
                    console.info(data);
                    let modified = false;
                    if (this.list[targetIndex]) {
                        for (let k in data) {
                            if (this.list[targetIndex][k] == data[k]) continue;
                            this.list[targetIndex][k] = data[k];
                            modified                  = true;
                        }
                    } else {
                        if (1
                            && data.fid
                            && data.operate.length
                            && data.type.length
                            && data.operate.length
                            && data.value
                            && data.reason
                        ) {
                            modified = true;
                            target   = data;
                        }
                    }
                    console.info(modified);
                    console.info(target);
                    if (modified) {
                        $.post(`/spd/keyword_modify`, {
                            // type   : 'mod',
                            id        : target.id,
                            fid       : target.fid,
                            operate   : genFunc.implode(target.operate, ','),
                            type      : genFunc.implode(target.type, ','),
                            position  : genFunc.implode(target.position, ','),
                            time_avail: target.time_avail,
                            value     : target.value,
                            reason    : target.reason,
                            status    : target.status,
                        }, (data) => {
                            loader.hide();
                            if (data.code) {
                                msg.push(`${data.code} ${data.msg}`, 'error');
                                return;
                            }
                            console.info(this);
                            msg.push(`${data.code} ${data.msg}`, 'success');
                        }, 'json');
                        this.reloadData();
                    }
                    console.info('success');
                }, () => {
                    console.info('canceled');
                }, () => {
                    console.info('error');
                });
                console.info(target);
            },
        }
    };
    let op_loop     = {
        template: `<div class="op_loop">
<div id="menu">
    <form id="contentForm">
        <label>值：<input type="text" v-model="query.value" ></label>
        <label><button type="button" v-on:click="switcher" class="btn btn-primary">submit</button></label>
        <label><button type="button" v-on:click="edit(-1)" class="btn btn-primary">add</button></label>
    </form>
</div>
<table id="contentBody">
<tr><th>ID</th>
<th>吧ID</th>
<th>用户名</th>
<th>参考帖子ID</th>
<th>理由</th>
<th>当前状态</th>
<th>循环到</th>
<th>操作</th>
</tr>
<tr v-for="(item,index) in list">
    <td>{{item.id}}</td>
    <td>{{item.fid}}</td>
    <td>{{item.username}}</td>
    <td>{{item.cid}}</td>
    <td>{{item.reason}}</td>
    <td>{{item.status}}</td>
    <td>{{item.time_loop}}</td>
    <td>
        <a class="btn btn-primary" v-on:click="edit(index,'black')">编辑</a>
    </td>
</tr>
</table>
</div>`,
        data    : function () {
            return {
                refresh      : (new Date()) * 1,
                query        : {
                    value: '',
                    name : '',
                },
                list         : [],
                popupTemplate: {
                    id       : {type: 'text', default: '', editable: false,},
                    fid      : {type: 'text', default: '', editable: true,},
                    cid      : {type: 'text', default: '', editable: true,},
                    username : {type: 'text', default: '', editable: true,},
                    reason   : {type: 'text', default: '', editable: true,},
                    status   : {type: 'text', default: '', editable: true,},
                    time_loop: {type: 'text', default: '2099-01-01T00:00:00', editable: true,},
                },
            };
        },
        created : function () {
            console.info('created');
            // console.info(router.currentRoute.query);
            for (let k in this.query) {
                if (router.currentRoute.query[k]) {
                    this.query[k] = router.currentRoute.query[k];
                }
            }
            pager.queryCallback = this.switcher;
            //保持页码不知道图什么。。。老代码，如果没有其他问题可以改掉
            pager.reset(1);
        },
        mounted : function () {
            console.info('mounted');
            // console.info(router.currentRoute.query);
        },
        watch   : {
            '$route': 'fetch'
        },
        methods : {
            reloadData: function () {
                console.info('reloaded');
                this.refresh = (new Date()) * 1;
            },
            //修改路由
            switcher  : function (forceRefresh) {
                console.info('switcher');
                // console.info(router.currentRoute.query);
                let query = {};
                for (let k in this.query) {
                    query[k] = this.query[k];
                }
                query.page = pager.page;
                //这边刷新会报错，所以加一个路由的判断
                let route  = {name: 'loop', query: query};
                if (!router.options.methods.isSameRoute(route)) {
                    console.info('new route:');
                    router.push(route);
                    return;
                }
                //强制刷新方法，触发route时会自动fetch，这里主要是针对无法触发的
                //比如带有参数的页面首次访问就不能正常的加载
                if (forceRefresh) {
                    this.fetch();
                }
                // console.info(route);
                // console.info(router.currentRoute);
                // this.fetch();
            },
            //获取数据
            fetch     : function () {
                console.info('fetch');
                console.info(router.currentRoute.query);
                loader.show();
                let queryData = router.currentRoute.query;
                $.post(`/spd/loop_get`, queryData, (data) => {
                    loader.hide();
                    if (data.code) {
                        msg.push(`${data.code} ${data.msg}`, 'error');
                        return;
                    }
                    console.info(this);
                    this.list = data.data;
                    msg.push(`${data.code} ${data.msg}`, 'success');
                    this.reloadData();
                }, 'json');
            },
            //这个是测试
            edit      : function (targetIndex) {
                console.info(targetIndex);
                let target = this.list[targetIndex];
                if (!target) target = {};
                popup.show(target, this.popupTemplate, (data) => {
                    console.info(data);
                    let modified = false;
                    if (this.list[targetIndex]) {
                        for (let k in data) {
                            if (this.list[targetIndex][k] == data[k]) continue;
                            this.list[targetIndex][k] = data[k];
                            modified                  = true;
                        }
                    } else {
                        if (1
                            && data.fid
                            && data.operate.length
                            && data.type.length
                            && data.operate.length
                            && data.value
                            && data.reason
                        ) {
                            modified = true;
                            target   = data;
                        }
                    }
                    console.info(modified);
                    console.info(target);
                    if (modified) {
                        $.post(`/spd/loop_modify`, {
                            // type   : 'mod',
                            id        : target.id,
                            fid       : target.fid,
                            operate   : genFunc.implode(target.operate, ','),
                            type      : genFunc.implode(target.type, ','),
                            position  : genFunc.implode(target.position, ','),
                            time_avail: target.time_avail,
                            value     : target.value,
                            reason    : target.reason,
                            status    : target.status,
                        }, (data) => {
                            loader.hide();
                            if (data.code) {
                                msg.push(`${data.code} ${data.msg}`, 'error');
                                return;
                            }
                            console.info(this);
                            msg.push(`${data.code} ${data.msg}`, 'success');
                        }, 'json');
                        this.reloadData();
                    }
                    console.info('success');
                }, () => {
                    console.info('canceled');
                }, () => {
                    console.info('error');
                });
                console.info(target);
            },
        }
    };
    let op_operate  = {
        template: `<div class="op_operate">
<div id="menu">
    <form id="contentForm">
        <label>标题：<input type="text" v-model="query.title" ></label>
        <label>用户名 / 昵称：<input type="text" v-model="query.username" ></label>
        <label>cid：<input type="text" v-model="query.cid" ></label>
        <label>tid：<input type="text" v-model="query.tid" ></label>
        <label>待处理：<input type="checkbox" v-model="query.to_operate" id="op_operate_checkbox"><label for="op_operate_checkbox"></label></label>
        <label><button type="button" v-on:click="switcher" class="btn btn-primary">submit</button></label>
    </form>
</div>
<table id="contentBody">
<tr><th>ID / TID</th>
<th>PID / CID</th>
<th>楼 / 层</th>
<th>发帖时间 / 扫描时间</th>
<th>用户名 / 昵称</th>
<th>标题 / 内容</th>
<th>理由</th>
<th>操作</th>
<th>操作方式</th>
</tr>
<tr v-for="(item,index) in list">
    <td>
        <div>{{item.id}}</div>
        <div>{{item.tid}}</div>
    </td>
    <td>
        <div>{{item.pid}}</div>
        <div>{{item.cid}}</div>
    </td>
    <td>
        <div>{{item.index_p}} / {{item.index_c}}</div>
    </td>
    <td>
        <div>{{item.time_pub}}</div>
        <div>{{item.time_scan}}</div>
    </td>
    <td>
        <template v-if="item.username">
            <div>{{item.nickname}}</div>
            <div>{{item.username}}</div>
        </template>
        <template v-else>
            <div>{{item.nickname}}</div>
            <div>ID : {{item.userid}}</div>
        </template>
    </td>
    <td>
        <div v-html="item.title"></div>
        <div v-html="item.content"></div>
        <hr>
        <div >处理时间:<span v-html="item.time_execute"></span></div>
        <div >处理结果:<span v-html="item.execute_result"></span></div>
    </td>
    <td>
        {{item.operate_reason}}
    </td>
    <td><p v-for="val in item.operate">{{val}}</p></td>
    <td>
        <a class="btn btn-primary" v-on:click="operate(index,'delete')">删</a>
        <a class="btn btn-primary" v-on:click="operate(index,'forbid')">封</a>
        <a class="btn btn-primary" v-on:click="operate(index,'boom')">炸</a>
        <a class="btn btn-primary" v-on:click="operate(index,'trust')">弃</a>
        <a class="btn btn-primary" v-on:click="operate(index,'black')">拉黑</a>
        <!--<a class="btn btn-primary" v-on:click="edit(index,'black')">dev</a>-->
    </td>
</tr>
</table>
</div>`,
        data    : function () {
            return {
                refresh      : (new Date()) * 1,
                query        : {
                    title     : '',
                    username  : '',
                    cid       : '',
                    tid       : '',
                    to_operate: '',
                },
                list         : [],
                popupTemplate: {
                    id            : {type: 'text', default: '', editable: true,},
                    tid           : {type: 'text', default: '', editable: true,},
                    pid           : {type: 'text', default: '', editable: true,},
                    cid           : {type: 'text', default: '', editable: true,},
                    index_p       : {type: 'text', default: '', editable: true,},
                    index_c       : {type: 'text', default: '', editable: true,},
                    time_pub      : {type: 'text', default: '', editable: true,},
                    time_scan     : {type: 'text', default: '', editable: true,},
                    nickname      : {type: 'text', default: '', editable: true,},
                    username      : {type: 'text', default: '', editable: true,},
                    content       : {type: 'text', default: '', editable: true,},
                    operate_reason: {type: 'text', default: '', editable: true,},
                    execute_result: {type: 'text', default: '', editable: true,},
                    time_execute  : {type: 'datetime', default: '', editable: true,},
                    operate       : {type: 'checkbox', default: [], editable: true,},
                    _operate      : ['trust', 'forbid', 'delete', 'boom', 'alert', 'black'],
                },
            };
        },
        created : function () {
            console.info('created');
            for (let k in this.query) {
                if (router.currentRoute.query[k]) {
                    this.query[k] = router.currentRoute.query[k];
                }
            }
            pager.queryCallback = this.switcher;
            //保持页码不知道图什么。。。老代码，如果没有其他问题可以改掉
            // pager.reset(router.currentRoute.query.page);
            pager.reset(1);
        },
        mounted : function () {
            console.info('mounted');
        },
        watch   : {
            '$route': 'fetch'
        },
        methods : {
            reloadData: function () {
                console.info('reloaded');
                this.refresh = (new Date()) * 1;
            },
            //修改路由
            switcher  : function (forceRefresh) {
                console.info('switcher');
                let query = {};
                for (let k in this.query) {
                    query[k] = this.query[k];
                }
                query.page = pager.page;
                //这边刷新会报错，所以加一个路由的判断
                let route  = {name: 'log', query: query};
                if (!router.options.methods.isSameRoute(route)) {
                    console.info('new route:');
                    router.push(route);
                    return;
                }
                //强制刷新方法，触发route时会自动fetch，这里主要是针对无法触发的
                //比如带有参数的页面首次访问就不能正常的加载
                if (forceRefresh) {
                    this.fetch();
                }
                // console.info(route);
                // console.info(router.currentRoute);
                // this.fetch();
            },
            //获取数据
            fetch     : function () {
                console.info('fetch');
                loader.show();
                let queryData = router.currentRoute.query;
                $.post(`/spd/log_get`, queryData, (data) => {
                    loader.hide();
                    if (data.code) {
                        msg.push(`${data.code} ${data.msg}`, 'error');
                        return;
                    }
                    console.info(this);
                    this.list = data.data;
                    msg.push(`${data.code} ${data.msg}`, 'success');
                    this.reloadData();
                }, 'json');
            },
            //操作方法
            operate   : function (targetIndex, operate) {
                let target = this.list[targetIndex];
                $.post(`/spd/log_operate`, {
                    operate: operate,
                    id     : target.id,
                }, (data) => {
                    loader.hide();
                    if (data.code) {
                        msg.push(`${data.code} ${data.msg}`, 'error');
                        return;
                    }
                    console.info(this);
                    msg.push(`${data.code} ${data.msg}`, 'success');
                }, 'json');
            },
        }
    };
    let op_settings = {
        template: `<div class="op_settings">
<div id="menu">
    <form id="contentForm">
        <label>值：<input type="text" v-model="query.value" ></label>
        <label><button type="button" v-on:click="switcher" class="btn btn-primary">submit</button></label>
        <label><button type="button" v-on:click="edit(-1)" class="btn btn-primary">add</button></label>
    </form>
</div>
<table id="contentBody">
<tr><th>ID</th>
<th>Key</th>
<th>Val</th>
<th>备注</th>
<th>创建时间 / 修改时间</th>
<th>操作</th>
</tr>
<tr v-for="(item,index) in list">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.value}}</td>
    <td>{{item.description}}</td>
    <td><div>{{item.time_create}}</div><div>{{item.time_update}}</div></td>
    <td>
        <a class="btn btn-primary" v-on:click="edit(index,'black')">编辑</a>
    </td>
</tr>
</table>
</div>`,
        data    : function () {
            return {
                refresh      : (new Date()) * 1,
                query        : {
                    value: '',
                    name : '',
                },
                list         : [],
                popupTemplate: {
                    id         : {type: 'text', default: '', editable: false,},
                    name       : {type: 'text', default: '', editable: true,},
                    value      : {type: 'text', default: '', editable: true,},
                    description: {type: 'text', default: '', editable: true,},
                    // time_create: {type: 'text', default: '', editable: true,},
                    // time_update: {type: 'text', default: '', editable: true,},
                },
            };
        },
        created : function () {
            console.info('created');
            // console.info(router.currentRoute.query);
            for (let k in this.query) {
                if (router.currentRoute.query[k]) {
                    this.query[k] = router.currentRoute.query[k];
                }
            }
            pager.queryCallback = this.switcher;
            //保持页码不知道图什么。。。老代码，如果没有其他问题可以改掉
            pager.reset(1);
        },
        mounted : function () {
            console.info('mounted');
            // console.info(router.currentRoute.query);
        },
        watch   : {
            '$route': 'fetch'
        },
        methods : {
            reloadData: function () {
                console.info('reloaded');
                this.refresh = (new Date()) * 1;
            },
            //修改路由
            switcher  : function (forceRefresh) {
                console.info('switcher');
                // console.info(router.currentRoute.query);
                let query = {};
                for (let k in this.query) {
                    query[k] = this.query[k];
                }
                query.page = pager.page;
                //这边刷新会报错，所以加一个路由的判断
                let route  = {name: 'settings', query: query};
                if (!router.options.methods.isSameRoute(route)) {
                    console.info('new route:');
                    router.push(route);
                    return;
                }
                //强制刷新方法，触发route时会自动fetch，这里主要是针对无法触发的
                //比如带有参数的页面首次访问就不能正常的加载
                if (forceRefresh) {
                    this.fetch();
                }
                // console.info(route);
                // console.info(router.currentRoute);
                // this.fetch();
            },
            //获取数据
            fetch     : function () {
                console.info('fetch');
                console.info(router.currentRoute.query);
                loader.show();
                let queryData = router.currentRoute.query;
                $.post(`/spd/settings_get`, queryData, (data) => {
                    loader.hide();
                    if (data.code) {
                        msg.push(`${data.code} ${data.msg}`, 'error');
                        return;
                    }
                    console.info(this);
                    this.list = data.data;
                    msg.push(`${data.code} ${data.msg}`, 'success');
                    this.reloadData();
                }, 'json');
            },
            edit      : function (targetIndex) {
                console.info(targetIndex);
                let target = this.list[targetIndex];
                if (!target) target = {};
                popup.show(target, this.popupTemplate, (data) => {
                    console.info(data);
                    let modified = false;
                    if (this.list[targetIndex]) {
                        for (let k in data) {
                            if (this.list[targetIndex][k] == data[k]) continue;
                            this.list[targetIndex][k] = data[k];
                            modified                  = true;
                        }
                    } else {
                        if (1
                            && data.id
                            && data.name
                            && data.value
                            && data.description
                        ) {
                            modified = true;
                            target   = data;
                        }
                    }
                    console.info(modified);
                    console.info(target);
                    if (modified) {
                        $.post(`/spd/settings_modify`, {
                            // type   : 'mod',
                            id         : target.id,
                            name       : target.name,
                            value      : target.value,
                            description: target.description,
                        }, (data) => {
                            loader.hide();
                            if (data.code) {
                                msg.push(`${data.code} ${data.msg}`, 'error');
                                return;
                            }
                            console.info(this);
                            msg.push(`${data.code} ${data.msg}`, 'success');
                        }, 'json');
                        this.reloadData();
                    }
                    console.info('success');
                }, () => {
                    console.info('canceled');
                }, () => {
                    console.info('error');
                });
                console.info(target);
            },
        }
    };

    const routes = [
        {path: '/', redirect: '/post'},
        {name: 'post', title: '帖子管理', path: '/post', component: op_post, props: true,},
        {name: 'keyword', title: '关键词管理', path: '/keyword', component: op_keyword, props: true,},
        {name: 'loop', title: '十循名单', path: '/loop', component: op_loop, props: true,},
        {name: 'log', title: '处理日志', path: '/log', component: op_operate, props: true,},
        {name: 'settings', title: '系统设置', path: '/settings', component: op_settings, props: true,},
    ];
    /**
     * @method router.options.methods.isSameRoute
     * */
    const router = new VueRouter(
        {
            routes : routes,
            data   : function () {
                return {
                    pager: {},
                    query: {},
                };
            },
            methods: {
                isSameRoute: function (to) {
                    let curName  = router.currentRoute.name;
                    let curQuery = router.currentRoute.query;
                    let same     = true;
                    for (let k in to.query) {
                        // console.info(`${curQuery[k]} ${to.query[k]}`);
                        if (
                            typeof curQuery[k] !== "undefined" && curQuery[k].toString() === to.query[k].toString()
                        ) continue;
                        same = false;
                    }
                    // console.info(`${curName} ${to.name}`);
                    if (curName !== to.name) {
                        same = false;
                    }
                    return same;
                }
            },
        });
    const app    = new Vue(
        {
            router: router,
            el    : '#body',
            data  : function () {
                return {
                    routes: routes,
                };
            }
        });
</script>
</html>
