<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content=""/>
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#0e90d2">

    <title></title>

    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.css" rel="stylesheet">-->
    <!--<link href="/css/darkstrap.css" rel="stylesheet">-->
    <link href="/css/index.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vconsole@3.3.4/dist/vconsole.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue-router@3.1.3/dist/vue-router.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3.1.3/dist/vue-router.js"></script>

</head>
<body>
<div id="header" class="nav nav-tabs navbar-fixed-top hidden-xs">
    <div class="container">
        <div class="navbar-brand">Hentai</div>
        <ul class="nav navbar-nav ">
            <li v-for="(href,name) in list" :class="{active:name==current}"><a :href="href">{{name}}</a></li>
        </ul>
        <div class="navbar-text navbar-right">{{time}}</div>
    </div>
</div>
<div id="body" :class="['container-fluid']">
    <div id="" class="row">
        <div class="col-lg-1">
            <ul id="leftNavi" class="nav nav-pills nav-stacked ">
                <li class="active"><a>帖子管理</a></li>
                <li><a>关键词管理</a></li>
                <li><a>未处理帖子</a></li>
                <li><a>十循名单</a></li>
                <li><a>自动处理日志</a></li>
                <li><a>系统设置</a></li>
            </ul>
        </div>
        <div id="content" class=" col-lg-11">
            <form id="contentForm">
                <label>Name:<input type="text" name="name" value=""></label>
            </form>
            <div id="contentList"></div>
        </div>
    </div>
    <!--<ul id="navi" class="nav nav-pills nav-stacked navbar-left">
        <li role="presentation" class="active"><a href="#">Tieba</a></li>
        <li role="presentation"><a href="#">Hentai</a></li>
        <li role="presentation"><a href="#">Github</a></li>
    </ul>
    <div id="content" class=""></div>-->
</div>
<div id="footer" class="nav navbar-fixed-bottom">
    <div class="">
        <ul id="msg" class="nav navbar-nav ">
            <li v-for="(item,k) in list" :class="[
            'glyphicon'
            ,{'btn-success' :item.type=='success'}  ,{'glyphicon-ok'           :item.type=='success'}
            ,{'btn-primary' :item.type=='info'}     ,{'glyphicon-info-sign'    :item.type=='info'}
            ,{'btn-danger'  :item.type=='error'}    ,{'glyphicon-remove-sign'  :item.type=='error'}
            ,{'btn-warning' :item.type=='notice'}   ,{'glyphicon-alert'        :item.type=='notice'}
            ]" v-on:click.self.stop="showDetail(k)">
                <div :class="[
                'hinter'
                ,{'btn-success' :item.type=='success'}
                ,{'btn-primary' :item.type=='info'}
                ,{'btn-danger'  :item.type=='error'}
                ,{'btn-warning' :item.type=='notice'}
                ]">{{item.msg}}
                </div>
            </li>
        </ul>
        <ul id="paginator" class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:void(0)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li class="disabled"><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li>
                <a href="javascript:void(0)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="loader" v-if="isShow" :style="{opacity:isTransparent?0:1}">
    <svg class="square" xmlns="http://www.w3.org/2000/svg" version="1.1" :width="width+'px'" :height="width+'px'">
        <polygon v-for="offset in offsets" :points="offset"></polygon>
        <!--<polygon v-for="offset in offsets" points="0,224.5139883 309.0169944,449.0279766 1000,224.5139883 309.0169944,0"></polygon>-->
    </svg>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script>
    let header  = new Vue(
        {
            el     : '#header',
            data   : {
                list   : {
                    'Tieba' : 'javascript:void(0)',
                    'Router': 'javascript:void(0)',
                    'Github': 'javascript:void(0)',
                },
                current: 'Tieba',
                time   : '',
                timer  : 0,
            },
            created: function () {
                this.timer = setInterval(() => {
                    let date = new Date();
                    let arr  = {
                        y: date.getFullYear(),
                        m: date.getMonth() + 1,
                        d: date.getDate(),
                        h: date.getHours(),
                        i: date.getMinutes(),
                        s: date.getSeconds(),
                    };
                    for (let k in arr) {
                        if (arr[k] < 10) arr[k] = '0' + arr[k];
                        arr[k] = arr[k].toString();
                    }
                    this.time = `${arr.y}-${arr.m}-${arr.d} ${arr.h}:${arr.i}:${arr.s}`
                }, 500);
            },
            methods: {}
        });
    let content = new Vue(
        {
            el     : '#body',
            data   : function () {
                return {};
            },
            created: function () {
            },
            methods: {}
        });
    let msg     = new Vue(
        {
            el     : '#msg',
            data   : function () {
                return {
                    list       : [
                        {
                            type: 'info',
                            msg : 'success',
                        }
                    ],
                    detailTimer: 0,
                }
            },
            created: function () {
            },
            methods: {
                push      : function (data, type) {
                    switch (type) {
                        case 'success':
                        case 'info':
                        case 'error':
                        case 'notice':
                            break;
                        default:
                            type = 'info';
                            break;
                    }
                    if (this.list >= 20) this.list.shift();
                    this.list.push(
                        {
                            type: type,
                            msg : data,
                        });
                },
                showDetail: function (index) {
                    // console.info('show');
                    let target = $('#msg li').eq(index).children('div');
                    target.fadeIn(200, () => {
                        setTimeout(() => {
                            target.fadeOut(200);
                        }, 15000)
                    });
                },
                hideAll   : function () {
                    // console.info('hide');
                    $('#msg li div').stop(true, true).fadeOut(200);
                }
            }
        });
    let pager   = new Vue(
        {
            el     : '#paginator',
            data   : function () {
                return {};
            },
            created: function () {
            },
            methods: {}
        });
    let loader  = new Vue(
        {
            el     : '#loader',
            data   : function () {
                return {
                    isShow       : false,
                    isTransparent: true,
                    angle        : 4,
                    width        : 300,
                    rRatio       : 0.5,//外半径
                    inScale      : 0.6,//内半径（参考）
                    offsets      : [],
                }
            },
            created: function () {
                this.createStar(this.width, this.angle, this.rRatio, this.inScale);
            },
            methods: {
                show      : function () {
                    this.isShow = true;
                    //做个延迟不然特效不会出来……
                    setTimeout(() => {
                        this.isTransparent = false;
                    }, 1);
                },
                hide      : function () {
                    this.isTransparent = true;
                    setTimeout(() => {
                        this.isShow = false;
                    }, 500);
                },
                createStar: function (width, angle, rRatio, inScale) {
                    this.offsets = [];
                    let deg      = 360 / angle;
                    let rad      = deg / 180 * Math.PI;
                    let r        = width * inScale;
                    let vX       = r * Math.tan(rad / 4)
                        / (Math.tan(rad / 4) + Math.tan(rad / 2));
                    let vY       = r * Math.tan(rad / 4) * Math.tan(rad / 2)
                        / (Math.tan(rad / 4) + Math.tan(rad / 2));
                    // console.info(deg);
                    // console.info(vX);
                    // console.info(vY);
                    let mid = width / 2;
                    for (let ang = 0; ang < angle; ang++) {
                        let ol  = {
                            x0: mid,
                            y0: mid,
                            x1: mid + vX,
                            y1: mid - vY,
                            x2: mid + width * rRatio,
                            y2: mid,
                            x3: mid + vX,
                            y3: mid + vY,
                        };
                        let str = `${ol.x0},${ol.y0} ${ol.x1},${ol.y1} ${ol.x2},${ol.y2} ${ol.x3},${ol.y3}`;
                        this.offsets.push(str);
                    }
                },
            }
        });
    $(document).click(() => {
        msg.hideAll();
    });

</script>
</body>
</html>
